<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wisnu.photohunting">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:name=".PhotoHuntingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Base">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.WelcomeActivity"/>
        <activity android:name=".ui.activity.HomeActivity"/>
        <activity android:name=".ui.activity.SignInActivity"/>
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.CategoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.HomeActivity"/>
        </activity>
        <activity android:name=".ui.activity.CategoryListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.CategoryActivity"/>
        </activity>
        <activity android:name=".ui.activity.CategoryDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.CategoryListActivity"/>
        </activity>
        <activity android:name=".ui.activity.PhotoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.HomeActivity"/>
        </activity>
        <activity android:name=".ui.activity.CommentListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.HomeActivity"/>
        </activity>
        <activity android:name=".ui.activity.LikeListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.HomeActivity"/>
        </activity>
        <activity android:name=".camera.CameraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.HomeActivity"/>
        </activity>
        <activity android:name=".camera.UploadImage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.HomeActivity"/>
        </activity>
    </application>


</manifest>
